.label {
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  line-height: 22px;
  color: var(--color-black);
  margin-bottom: 4px;
  display: block;
}

.input {
  font-size: 16px;
  line-height: 22px;
  color: var(--color-black);
  border-radius: 8px;
  height: 44px;
  width: 100%;
  padding: 0 12px;
  border: 1px solid #E2E8F0;
  box-shadow: 0 1px 2px 0 rgba(15, 23, 42, 0.06);
  transition: border-color 250ms, box-shadow 250ms ease;

  &:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 4px var(--color-purple-2);
  }

  &::placeholder {
    color: #94A3B8;
  }
}