.container {
  position: relative;
}

.nativeInput {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.customInput {
  display: flex;
  align-items: center;
  width: 100%;
  height: 46px;
  font-size: 16px;
  line-height: 22px;
  padding: 0 12px;
  border-radius: 8px;
  border: 1px dashed #E2E8F0;
  background-color: var(--color-white);
  box-shadow: 0 1px 2px 0 rgba(15, 23, 42, 0.06);
  cursor: pointer;
  transition: border-color 250ms, box-shadow 250ms ease;

  &:active {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 4px var(--color-purple-2);
  }

  &.hasFile {
    border-color: var(--color-primary);
    border-style: solid;
    background-color: #f9f6fb;
  }

  &.hasFile&:hover {
    border-style: dashed;

  }
}

.fileName {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  width: 100%;

  &::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 50px;
    height: 22px;
    background: linear-gradient(-90deg,rgb(249, 246, 251), rgba(249, 246, 251, 0.94),rgba(255, 255, 255, 0));
  }
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 22px;
  width: 22px;
  height: 22px;
}