.main {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  /* background-color: #ccc; */
  padding-top: 24px;
  max-width: 1200px;
  margin: auto;

  @media screen and (min-width: 576px) {
    /* background: red; */
    padding-top: 32px;
  }

  @media screen and (min-width: 900px) {
    /* background: green; */
    padding: 32px;
    flex-flow: row nowrap;
    padding-top: 40px;
  }
}

.sidePanelContainer {
  overflow: auto;
  width: 100%;
  padding: 0 20px;
}

.sidePanel {
  margin-top: 20px;
}

.canvasContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.canvas {
  width: 90dvw;
  height: 90dvw;
  max-width: 600px;
  max-height: 600px;
  box-shadow: 2px 4px 6px 0 rgba(15, 23, 42, 0.06);
  border: 1px solid #E2E8F0;
}
