:root {
  --color-primary: #4F46E5;
  --color-white: #fff;
  --color-black: #0F172A;

  --color-purple-1: #6366F1;
  --color-purple-2: #C7D2FE;

  --font-weight-medium: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

body {
  position: relative;
  font-family: 'Inter', 'Arial', sans-serif;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}