* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Inter', 'Arial', sans-serif;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}